/* DEFAULT ==================== */

/* DEFAULT ==================== */
.sc {
    width: 100vw;
}

.sc-inner {
    width: 100%;
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
